<footer class="footer text-white border-top">

    <div class="">
        <img id="imgFooter" src="assets/Images/fondo/imagen_footer.png" class="center-block" alt="" />
        <div class="footerInfo">
            <p id="textoFooter" class="text-center ">
                © 2018, xxxxxxxxxxxxxxxxxxxxxxx - Centro Universitario del Sur
                <br /> Avenida prolongación Colón s/n, Km. 1, carretera Ciudad Guzmán - Guadalajara
                <br /> Ciudad Guzmán, Municipio de Zapotlán el Grande, Jalisco, México / Tel. 01(341) 57 522.22
            </p>
        </div>
    </div>


</footer>